body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: white;
    background-image: linear-gradient(115deg, rgba(97, 97, 158, 0.8), rgba(136, 136, 206, 0.7)), url("/home/celeste/freecodecamp/fcc-tribute-page/background.jpg"); 
    background-size: cover;
}

main {
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

#img-div {
    padding-top: 20px;
    padding-bottom: 20px;
}

#img-caption {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-style: italic;
}

h2 {
        font-size: 1.3em;
        text-align: center;
        padding: 30px;
}

#tribute-info {
    max-width: 600px;
    margin: auto;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
}

#quote {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 30px;
}

a {
    color:white;
}
